body {background-image: url(./images/bg.png);}

div {
    position: absolute;
    max-width: 600px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.pflanze {
position: absolute;
z-index: 2;
top: -50px;
left: -40px;
}
.pinguin {
position: absolute;
bottom: -7px;
right: -10px;
}
.h1 {
position: absolute;
z-index: 1;
top: 35px;
left: 90px;
color: honeydew;
font-family: 'Times New Roman', Times, serif;
font-size: 35px;
}
.h2 {
position: absolute;
top: 90px;
left: 90px;
color: honeydew;
font-family: 'Times New Roman', Times, serif;
font-size: 25px;
}
.p {
    position: absolute;
    bottom: 120px;
    left: 90px;
    right: 95px;
    color: honeydew;
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
}
.p2 {
    position: absolute;
    bottom: 80px;
    left: 90px;
    right: 95px;
    color: honeydew;
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;  
}